/* Global */
body {
  background-color: #fff;
  color: #4a4a4a;
  background-image: url("../img/bg.png");
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

hr {
  height: 2px;
  opacity: 0.8;
}

a {
  font-weight: 600;
  color: #00b3b4;
}

a:hover {
  font-weight: bold;
  color: #00b3b4;
}

a:visited {
  font-weight: bold;
  color: #00b3b4;
}

h2, h3 {
  color: #00b3b4;
  font-weight: 600;
}

.form-control {
  background-color: #fdfdfd;
}

.btn {
  background-color: #00b3b4;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .15em;
  line-height: 1.42857143;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: rgba(0, 179, 180, .6);
  -o-transition:.9s;
  -ms-transition:.9s;
  -moz-transition:.9s;
  -webkit-transition:.9s;
  transition:.9s;
  color: #fff;
}

.jumbotron, .bodyContent {
  width: 80%;
  border-radius: 5px;
  box-shadow: 1px 1px 3px #9a9a9a;
}

/* Nav */

.navbar-brand {
  font-size: 1.8em;
}

#navStyles a {
  color: #00b3b4;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .1em;
}

.navbar-right p {
  color: #4a4a4a;
  }

.container-fluid {
  padding-right: 10%;
  padding-left: 10%;
}

/* Jumbotron */

.jumbotron {
  padding: 2% 3%;
  margin-top: -1%;
  margin-left: 10%;
  background-color: #fafafa;
}

.jumbotron h1, h2 {
  color: #00b3b4;
}

.jumbotron h1 {
  font-size: 13em;
  text-align: center;
  text-shadow: 1px 1px 1px #9a9a9a;
}

.jumbotron p {
  font-size: 1.4em;
}

/* Form & Info */

.bodyContent {
    background-color: #fafafa;;
    margin-bottom: 3%;
    padding: 1% 2%;
    border-radius: 5px;
}

.formContent, .infoContent {
  padding: 1% 5%;
}

/* Form & Info section - Initial content */

.infoContent p {
  font-size: 1.32em;
}

/* Info - Results */

#frontEnd, #backEnd, #mobileDev, #gameDevelopment {
  display: none;
}

.darkerText {
  text-align: right;
  color: #4a4a4a
}
